body{
	background-color: black;
}

.header {
	background-color: white;
	height: 170px;
}

   .a{
 
   }

   .b{
   	display: inline-flex;
   	float: right;
   	height: 100px;
   } 

   .c{
   }
   h3{
   	padding-bottom: 50px;
   }

   .d{
   	text-align: right;
   }
   ul li{
   	display: inline-block;
   }

   .da{
   }

   p b a{
   	
   }

 .body-up{
 	background-color: #CF000F;
 }

   .e{
   }

   .f{
   	text-align: right;
   }

   .g{
   }

   .h{
   	top: 100px;
   }

 .body-top{
 	background-color: white;
 	height: 300px;
 }

   .i{
   }
   img{
   	padding-right: 100px;
   	float: left;
   }

     .ab{
     }

   .j{
   }
   img{
   	
   	float: top;
   }

     .ac{
     }

   .k{ 
   }
   img{
  
   	float: right;
   }

     .ad{
     }

 .body-under{
 	background-color: #ECF0F1;
 	height: 500px;
 	overflow: scroll;
 }

   .l{
   	border-right: 100px;
   	border-color: gray;
   	line-height: 100px;
   	padding-right: 33%;
   	width: 30%;

   }

     .ae{
     }
     p{
     	border:100px;
     	border-color: white; 
     	font-size: 
     	color:black;
     	padding:100px; 
     }

     .af{
     }
     p{
     	border:100px;
     	border-color: white; 
     	font-size: 
     	color:black;
     	padding:100px;
     }

     .ag{
     }
     p{
     	border:100px;
     	border-color: white; 
     	font-size: 
     	color:black;
     	padding:100px;
     }

   .m{
   	border-color: gray;
   	border-top: 100px;
   	line-height: 100px;
   	padding-top: 33%;
   	width: 30%;

   }

     .ah{
     }
     p{
     	border:95px;
     	border-color: white; 
     	font-size: 
     	color:black;
     	padding:100px;  
     }

     .ai{
     }
     p{
     	border:95px;
     	border-color: white; 
     	font-size: 
     	color:black;
     	padding:100px;
     }

     .aj{
     }
     p{
     	border:95px;
     	border-color: white; 
     	font-size: 
     	color:black;
     	padding:100px;
     }

   .n{
   	border-color: gray;
   	border-left: 100px;
   	line-height: 100px;
   	padding-left: 33%;
   	width: 30%;
   }

     .ak{
     }
     p{
     	border:95px;
     	border-color: white; 
     	font-size: 
     	color:black;
     	padding:100px;
     }

     .al{
     }
     p{
     	border:95px;
     	border-color: white; 
     	font-size: 
     	color:black;
     	padding:100px;
     }

     .am{
     }
     p{
     	border:95px;
     	border-color: white; 
     	font-size: 
     	color:black;
     	padding:100px;
     }

.footer-up{
	background-color: #22313F;
	height: 500px;
} 
  img{
  }

  .o{
  }

  .p{

  }

  .q{
  	float: right;
  	text-align: right;
  }

  .qa{
  }

  .qb{
  }

.footer{
	background-color: black;
} 

 p{
 	color: white;
 }

  .r{
  } 
  p{
  	color: 
  }

  .s{
  	font-style: italic;
  	text-align: right;
  }




